{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "simple-import-sort"],
    "overrides": [{
        "files": ["*.ts", "*.tsx"],
        "extends": ["@wemake-services/typescript/strict"],
        "parserOptions": {"project": ["./tsconfig.json"]},
        "rules": {
            "@typescript-eslint/semi": [2, "always"],
            "quotes": [2, "double", { "avoidEscape": true }],
            "simple-import-sort/imports": "warn",
            "simple-import-sort/exports": "warn",
            "camelcase": "error",
            "@typescript-eslint/indent": "off"
        }
    }]
}