APP_PORT=8081 # The port on which the Express.JS server will be started

# >>> Credentials for Postgres database >>>
POSTGRES_HOST="postgres"
POSTGRES_PORT=5432
POSTGRES_USER="..."
POSTGRES_PASSWORD="..."
POSTGRES_DB="..."
# <<< Credentials for Postgres database <<<

# Use Redis? The application will fail if it cannot connect to the Redis server
REDIS_REQUIRED="false"
REDIS_URL="redis://localhost:6379"

# https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin
ACCESS_CONTROL_ALLOW_ORIGIN_HEADER="localhost:3000" 

JWT_TOKEN_SECRET="secret" # Secret key for signing JWT tokens

# >>> Log levels >>>
# For `NODE_ENV == "test"` the log level is specified independently
LOG_LEVEL="response"
TEST_LOG_LEVEL="quiet"
# <<< Log levels <<<

# >>> Cache expiration time for different records >>>
# Time is given in seconds
USER_EX=600
USER_PERMISSIONS_EX=600
POST_EX=300
POST_REPLIES_EX=600
HOT_TAGS_EX=1200
VOTE_EX=600
# <<< Cache expiration time for different records <<<

NODE_ENV="development"