# Environment variable values for Postgres and PgAdmin containers
# https://www.pgadmin.org/docs/pgadmin4/latest/container_deployment.html#environment-variables
# https://hub.docker.com/_/postgres#:~:text=have%20found%20useful.-,Environment%20Variables,-The%20PostgreSQL%20image

POSTGRES_PASSWORD=postgres
PGADMIN_DEFAULT_EMAIL=pgadmin
PGADMIN_DEFAULT_PASSWORD=pgadmin