SERVER_URL="localhost:8081" # URL for Axios to access the server

# The port on which Next.JS will run,
# for `development` and `production` `NODE_ENV` values
# `next dev` and `next start` will be run respectively
NEXT_PORT=3000 