SERVER_URL="http://localhost:8081" # URL for Axios to access the server

# The port on which Next.JS will run,
# for `development` and `production` `NODE_ENV` values
# `next dev` and `next start` will be run respectively
NEXT_PORT=3001

CYPRESS_URL="http://localhost:3001" # URL for Cypress to test

NODE_ENV="development"